<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>tu pus ?</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header class="bg-orange-500">
    <h1 class="text-center py-6 text-5xl text-white">bienvenue</h1>
  </header>

  <main class="my-24">

    <div class="flex justify-center ">
      <img src="/static/pendu{{etat_du_jeu.vies}}.png">
    </div>   

    <p class = "text-center font-blod">{{etat_du_jeu.mot_a_afficher}}</p>

  </main>

  <footer class="fixed bottom-0 w-full bg-orange-500">
    <p class="text-center py-2 text-white">créer par joscrap</p>

  </footer>
</body>

</html>
